*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background: url(images/background.png);
    background-position: center;
    background-size: cover;
}
.sideNav{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60px;
    font-size: 12px;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user div{
    display: none;
}

.user h2{
    font-size: 15px;
    font-weight: 600;
}

.user-img{
    width:40px;
    border-radius: 50%;
    margin: 0 ;
}

.star-img{
    width: 20px;
    display: none;
}

ul{
    list-style: none;
    padding: 0 15px;
}

ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img{
    width: 30px;
    margin-right: 0px;
}

ul li p{
    white-space: nowrap;
    display: none;
}
/*here collapse to screen*/
.sideNav:hover{
    width: 250px;
}

.sideNav:hover .user div{
    display: block;
}

.sideNav:hover .user {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.sideNav:hover .star-img{
    display: block;
}

.sideNav:hover .user-img{
    margin: 0;
}

.sideNav:hover ul li p{
    display: block;
}

.sideNav:hover ul li img{
    margin-right: 10px;
}
.sideNav:hover ul li{
    justify-content: flex-start;
}